<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Twitter Zeitgeist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="{{ url_for('static',  filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

    </style>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Twitter Zeitgeist</a>
          <div class="nav-collapse collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" style='text-align: center;'>

      <h1>What happened for the past year?</h1>
      <br />
      <p>As the year comes to an end, we help you look back and identify key events in your life using your Tweets.</p>
      <form class="well form-search" action="/tweets/" method="POST">
        <div class="input-prepend">
          <span class="add-on" style="font-family: Arial;">@</i></span>
          <input type="text" class="input input-large" name="username" placeholder="Your Twitter Handle" value="MintyTG">
        </div>
        <button type="submit" class="btn btn-primary btn-small">Go</button>
      </form>
      <hr>

      {% if error %}
      <p>Due to Twitter API restrictions, kindly only use the username "MintyTG" for this demo.</p>
      {% endif %}

      <div id="push"></div>

    </div> <!-- /container -->

      <footer style="position: absolute; bottom: 0; width: 100%; text-align: center;">
        <p>Done by Group 7, for CSC421 Natural Language Processing 2013/14 Semester 1</p>
      </footer>
  </body>
</html>
