<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Twitter Zeitgeist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="{{ url_for('static',  filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

    </style>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Twitter Zeitgeist</a>
          <div class="nav-collapse collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" style='text-align: center;'>

      <h1>What happened for the past year for {{ username }}?</h1>
      <br />

      <div class="row">
        <div class="span6">
          <h3>Happy :)</h3>

          <table class="table table-striped">
            <tr style='font-size: 1.5em;'>
            <th>Tweet</th><th>Keywords</th>
            </tr>
            {% for t in happy_tweets %}
              <tr><td>{{ t[0] }}</td><td>{{ t[1] }}</td></tr>
            {% endfor %}
          </table>
        </div>
        <div class="span6">
          <h3>Sad :(</h3>
          <table class="table table-striped">
            <tr style='font-size: 1.5em;'>
            <th>Tweet</th><th>Keywords</th>
            </tr>
            {% for t in sad_tweets %}
              <tr><td>{{ t[0] }}</td><td>{{ t[1] }}</td></tr>
            {% endfor %}
          </table>
        </div>
      </div>

      <div id="push"></div>

    </div> <!-- /container -->

      <footer style="width: 100%; text-align: center;">
        <p>Done by Group 7, for CSC421 Natural Language Processing 2013/14 Semester 1</p>
      </footer>
  </body>
</html>
